button.main-menu {
  left: 0;
  top: 5rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  position: absolute;
  /* border: 0.125rem solid whitesmoke; */
}

button.main-menu:hover {
  border: 0.125rem solid whitesmoke;
  box-shadow: 0 0 0.4rem whitesmoke;
}

nav.menu-container {
  background-color: #333;
  width: 15rem;
  left: 0;
  top: 9rem;
  margin-left: 1rem;
  position: absolute;
  /* text-align: center; */
  border: 0.125rem solid whitesmoke;
  box-shadow: 0 0 0.625rem whitesmoke;
  opacity: 0;
  transform: translateY(-1.0625rem); /* 17px ÷ 16px = 1.0625rem */
  transition:
    opacity 375ms ease-in-out,
    transform 275ms ease-in-out;
}

ul.menu {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1rem;
  /* display: inline-block; Making the <ul> inline-block to center it */
}

.menu-item {
  text-align: left;
  font-size: x-large;
  cursor: pointer;
  margin-bottom: 1rem;
  transition:
    transform 0.2s ease,
    margin-left 0.2s ease;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  /* transform: scale(1.2) translateX(0.9rem); */
  transform: scale(1.1) translateX(0.5rem);
  font-weight: 600;
  /* filter: drop-shadow(0 0 2rem whitesmoke); */
  /* box-shadow: 0 0 10px whitesmoke; */
}

.menu-item:last-child:hover {
  transform: scale(1.05) translateX(-0.25rem);
}
