div.uploader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid whitesmoke;
  width: 37.5rem;
  height: 12.5rem;
  font-size: x-large;
  cursor: pointer;
  text-align: center;
  /* background-color: #333; */
  left: 29rem;
  top: 17rem;
}

div.uploader:hover {
  box-shadow: 0 0 0.4rem pink;
  transform: scale(1.01);
  /* text-shadow: #fc0 1px 0 10px; */
  text-shadow: 1px 1px 2px pink;
  transition:
    box-shadow 500ms ease,
    transform 500ms ease,
    text-shadow 500ms ease;
}
