div.uploader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid whitesmoke;
  width: 37.5rem;
  height: 12.5rem;
  font-size: x-large;
  /* background-color: #333; */
  left: 29rem;
  top: 17rem;
}

div.uploader:hover {
  box-shadow: 0 0 0.4rem whitesmoke;
}

button.upload-button {
  border: 0.125rem solid whitesmoke;
  margin-left: 0.75rem;
  /* background-color: #333; */
}

button.upload-button:hover {
  border: 0.125rem solid whitesmoke;
  box-shadow: 0 0 0.4rem whitesmoke;
}
